@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:ital,wght@0,500;1,500&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: 'Inter', sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1180px;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    width: 100%;
    padding: 8px 60px;
}

.main-nav {
    padding-block: 8px;
}

.company-logo img {
    width: 120px;
}

.nav-links ul {
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input, .search-button {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border-radius: 4px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;    
    border: 2px solid #bbd0e2;    
}

.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}